<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
			integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
			crossorigin="anonymous"
		/>

		<!-- JS, Popper.js, and jQuery -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
			integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
  
   <%- include('./partials/_nav') %> 
   
		<nav id="navigation">
			<div class="navbar navbar-expand-lg navbar-light">
				<!-- <div><img id="logo" src="https://64.media.tumblr.com/ebd8916cb73ff5f4106cdc8b5717506f/56c78ea55897421b-ea/s640x960/f54aa6401496517562233c7d6921c73c443b9a49.png" alt="logo"></div> -->
				<a href="/users/signup"> | Sign Up | </a>
				<a class="nav-button" href="/users/logout"> Logout | </a>
				<a class="nav-button" href="/trips"> Home | </a>
				<a class="nav-button" href="/trips/new"> New Trip | </a>
			</div>
		</nav>

		<div id="trip-container">
			<% trips.forEach((trip, index) => { %>
			<div
				class="card-bg card rounded-0"
				style="background-image: url('<%=trip.img%>');"
			>
				<a href="/trips/<%=trip._id%>">
					<div class="trip-card">
						<h1><%= trip.name %> <br /></h1>
						<p><%= trip.address %> <br /></p>
					</div>
				</a>
			</div>
			<% }) %>
		</div>

		<!-- <div>
			<h2>List of Trips</h2>
			<ul>
				<#% trips.forEach(trips => { %>
				<li>
					<a href="/trips/<#%=trips._id%>"><#%=trips.name%></a>
				</li>
				<#% }) %>
			</ul>
		</div> -->
	</body>
</html>
