<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Show page for TRIPS </h1>
    <p> name : <%= trip.name %> <br/> </p>
    <p> address : <%= trip.address %> <br/> </p>
    <p> latitude : <%= trip.latitude %> <br/> </p>
    <p> longitude : <%= trip.longitude %> <br/> </p>
        
        <img src="<%=trip.img%>" alt="Image" />
     <form action="/trips/<%=trip._id %>?_method=DELETE" method="POST"\>
    <input type="submit" value="Delete TRIP"/>
</form>
</body>
</html>