<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1> Show page for TRIPS </h1>
    
    <p> name : <%= trip.name %> <br/> </p>
    <p> address : <%= trip.address %> <br/> </p>
    <p> latitude : <%= trip.latitude %> <br/> </p>
    <p> longitude : <%= trip.longitude %> <br/> </p>
        
        <img src="<%=trip.img%>" alt="Image" />
     <!-- <form action="/trips/<%=trip._id %>?_method=DELETE" method="POST"\>
    <input type="submit" value="Delete TRIP"/> -->

   
    <!-- Add the sightseeing for each city / trip  -->

        <h1> Add new sightseeing for your selected TRIP </h1>
        <form action="/trips/<%=trip._id%>" method="POST">
                
            name : <input type="text" name="name" /><br/>
            address : <input type="text" name="address" /><br/>
            
            img: <input type="text" name="img"><br/>
            <input type="submit" value="ADD SIGHTSEEING to your TRIP"/>
        
        <section>
        <div>
            <h2>Checkout the list of sightseeings for <%= trip.name %> </h2>

       
        </div>
    </section>

</form>
</body>
</html>