<!DOCTYPE html>
<html>
	<head>
		<title>Place Searches</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiTRmQpKXDj6e2BZMi0kOfqY7ZQTih8qs&callback=initMap&libraries=places&v=weekly"
			defer >
    </script>
         <link rel="stylesheet" type="text/css" href="/styles/style.css" /> 
		<script src="/app.js"></script>
		<script src="/mapUtils.js"></script>
		<script>
			const longtitude = "<%- longtitude %>" //these variables are being passed from trips.js 'show' function 
			const  lattitude = "<%- lattitude %>"
			console.log(longtitude, lattitude)
		</script>
	</head>
	<body>
		<nav id="navigation">
			<div>
				<a href="/users/signup"> Sign Up </a>
		   </div>
			<div>
				 <a href="/users/logout"> Logout </a>
			</div>
			<div>
				 <a href="/trips"> Home </a>
			</div>
			<div>
				 <a href="/trips/new"> New Trip </a>
				 <main>
					<section> 
						<form action="/users/login" method="POST">
							<div>
							<label for="username "> Username: </label>
							 <input type="text" name="username">
							</div>
							<div>
								<label for="password "> Password: </label>
								<input type="password" name="password">
							</div>
							<input type="submit" value="LOGIN">
					</form>
					</section>
			</div>
		</nav>
		<div id="sights">
			<h1> Show page for TRIPS </h1>
    <p> name : <%= trip.name %> <br/> </p>
    <p> address : <%= trip.address %> <br/> </p>

     <!-- DELETE TRIP  -->
     <form action="/trips/<%=trip._id %>?_method=DELETE" method="POST">
     <input type="submit" value="Delete TRIP"/> </form>
   
    <!-- Add the sightseeing for each city / trip  -->

        <h1> Add new sightseeing for your selected TRIP </h1>
        <br>
        <form action="/sightseeings" method="POST">
            <!-- passing a hidden value of trip.ID   -->
            <input type="hidden" name="tripId" value="<%=trip._id %>"/> 

            name : <input type="text" name="name" /><br/>
			address : <input type="text" name="address" /><br/>
			lng : <input type="text" name="lng" /><br/>
			lat : <input type="text" name="lat" /><br/>
            img: <input type="text" name="img"><br/>
            <input type="submit" value="ADD SIGHTSEEING to your TRIP"/>
        </form>
        <!-- Display the sightseeings trip  -->
        <section>
        <div>
            <h2>Checkout the list of sightseeings for <%= trip.name %> </h2>
            <% sightseeing.forEach((sightseeing, index)  => { %>
                <ul>
                    <li>
 
                        <p> name : <%= sightseeing.name %> <br/> </p>
                        <p> address : <%= sightseeing.address %> <br/> </p>
                        <p> lng : <%= sightseeing.lng %> <br/> </p>
                        <p> lat : <%= sightseeing.lat %> <br/> </p>
                        <img src="<%=sightseeing.img%>" alt="Image" /> 

                        <!-- DELETE Button for Sightseeing -->
                        <form action="/sightseeings/<%=sightseeing._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete this sightseeing"/> 
                    </form>
                    <br/>
                    </li>
                </ul>
            <% }) %>
        </div>
		</div>
		<div class="pac-card" id="pac-card">
			<div>
				<div id="title">
					Autocomplete search
				</div>
				<div id="type-selector" class="pac-controls">
					<input
						type="radio"
						name="type"
						id="changetype-all"
						checked="checked"
					/>
					<label for="changetype-all">All</label>

					<input type="radio" name="type" id="changetype-establishment" />
					<label for="changetype-establishment">Establishments</label>

					<input type="radio" name="type" id="changetype-address" />
					<label for="changetype-address">Addresses</label>

					<input type="radio" name="type" id="changetype-geocode" />
					<label for="changetype-geocode">Geocodes</label>
				</div>
				<div id="strict-bounds-selector" class="pac-controls">
					<input type="checkbox" id="use-strict-bounds" value="" />
					<label for="use-strict-bounds">Strict Bounds</label>
				</div>
			</div>
			<div id="pac-container">
				<input id="pac-input" type="text" placeholder="Enter a location" />
			</div>
		</div>
		<div id="map"></div>
		<div id="infowindow-content">
			<img src="" width="16" height="16" id="place-icon" />
			<span id="place-name" class="title"></span><br />
			<span id="place-address"></span>
		</div>
	</body>
</html>
